SECRET_KEY=supersecretkey

RUN_ADDRESS=localhost:8080

DATABASE_URI=postgres://gophkeeper:gophkeeper@localhost:5432/gophkeeper?sslmode=disable

S3_ENDPOINT= http://127.0.0.1:9000
S3_ACCESS_KEY=admin
S3_SECRET_KEY=12345678
S3_BUCKET=gophkeeper

# Клиент: адрес сервера, обязателен
SERVER_URL=http://localhost:8080
